
@font-face {
  font-family: Lexend;
  src: url(fonts/Lexend_Tera/LexendTera-VariableFont_wght.ttf);
}

.home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-color: #ffffff;

  }
  .home-container1 {
    width: 100%;
    height: 90px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-image: url("images/background.gif");
  }
  .home-navbar-interactive {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }

  .nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color2);
    padding: 12px 20px;
}
.game-title{
  text-align: center;
}

  .menu {
    display: flex;
  }
  .menu li {padding-left: 20px;}
  .menu li a {
    margin-top: 25px;
    font-family: "Lexend";
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 70%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}

#check {display: none;}

.home-text {
  font-family: 'Lexend';
  left: 0px;
  right: 0px;
  margin: auto;
  margin-right: 20px;
  position: absolute;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  text-align: right;
}

 main {
  display: flex;
  width: 90%;
  flex-direction: column; /* Arrange items vertically */
  height: 1024px; /* Example height */
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
}

  .headerText {
    font-family: 'Lexend';
    width: 100%;
    height: 50px;
    font-size: 40px;
    margin-bottom: 50px;
    font-style: bold;
    text-align: center;
    font-weight: 600;
    color:rgb(0, 0, 0);
  }
         
      .game01 {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-left: 20px;
      margin-top: 20px;
      margin-right: 20px;
      padding: 10px;
      background-color: rgb(255, 255, 255);
      border: 3px solid rgb(0, 0, 0);
      color: black;
      font-family: "Lexend";
      }
      .game01img {
      display: flex;
      justify-content: flex;
      margin-left: 20px;
      margin-top: 15px;
      margin-bottom: 15px;
      margin-right: 40px;
      width: 480px;
      height: 300px;
      color: black;
      border: 2px solid #000000;
      }
      .game01text {
      
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding-left: 50%;
      margin-top: 20px;
      margin-right: 20px;
      padding: 10px;
      color: black;
      font-family: "Lexend";
      }
      
      .game01:hover {
      transition: all 0.5s ease-in;
      background-color: rgb(119, 180, 208);
      }
      
      .game02 {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 20px;
        margin-top: 20px;
        margin-right: 20px;
        padding: 10px;
        background-color: rgb(255, 255, 255);
        border: 3px solid rgb(0, 0, 0);
        color: black;
        font-family: "Lexend";
        }
        .game02img {
          display: flex;
          justify-content: flex;
          margin-left: 20px;
          margin-top: 15px;
          margin-right: 40px;
          width: 480px;
          height: 300px;
          margin-bottom: 15px;
          color: black;
          border: 2px solid #000000;
          }
        .game02text {
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-left: 50%;
        margin-top: 20px;
        margin-right: 20px;
        padding: 10px;
        color: black;
        font-family: "Lexend";
        }
        
        .game02:hover {
        transition: all 0.5s ease-in;
        background-color: rgb(119, 180, 208);
        }

        @media (max-width: 610px){

          .headerText{
            font-size: 30px;
            margin-bottom: 20px;
            margin-top: 0px;
            font-weight: 400;
          }

          .home-text {
            position: absolute;
            font-style: normal;
            font-weight: 500;
            font-size: 23px;
            width: 40px;
            padding: 20px;
            margin-right: 80px;
            text-align: right;
          }

          .game01text {
            margin-left: 20px;
            margin-top: 10px;
            font-size: 12px;
            }

         .game02text {
            margin-top: 10px;
            margin-left: 20px;
            font-size: 12px;
          }

          .game01img {
            margin-left: 40px;
            margin-bottom: 0px;
            margin-right: 40px;
            width: 160px;
              height: 100px;
            }

          .game02img {
            margin-left: 40px;
            margin-bottom: 0px;
            margin-right: 40px;
            width: 160px;
            height: 100px;
          }

          .game-title{
            font-size: 15px;
          }
        }
    
        @media (max-width: 1000px){

          .game01 {
            align-items: center;
            flex-direction: column;
            }
        
            .game01text {
            text-align: center;
            }
         
          .game02 {
            align-items: center;
            flex-direction: column;
            }
              
            .game02text {
              text-align: center;
            }
          
          .menu {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100vh;
            position: fixed;
            top: 0;
            left: -100%;
            z-index: 100;
            background-color: #4697bcf8;
            transition: all 0.2s ease-in-out;
        }
        .menu li {margin-top: 40px;}
        .menu li a {padding: 10px;
        color: #ffffff;}
        .open-menu , .close-menu {display: block;}
        #check:checked ~ .menu {left: 0;}
    
        }
      
